@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");

/* BODY */

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: none;
}

img {
  max-width: 100%;
}

/* BODY */

.container {
  margin-bottom: 2rem;
}

.img-stats {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}
/* HEADER   */

.header-section {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.header-section .logo {
  text-align: center;
  margin-bottom: 2rem;
}

.header-section .logo a {
  display: inline-block;
}

.header-section .nav-menu {
  position: relative;
}

.header-section .nav-menu .main-menu {
  text-align: center;
}

.header-section .nav-menu .main-menu ul li {
  display: inline-block;
  margin-right: 60px;
  position: relative;
}

.header-section .nav-menu .main-menu ul li:hover a {
  color: #fc0254;
}

.header-section .nav-menu .main-menu ul li a {
  color: #353535;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header-section .nav-menu .main-menu ul li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 16px;
}

.header-section .nav-menu .main-menu ul .sub-menu {
  position: absolute;
  list-style: none;
  width: 220px;
  left: 0;
  top: 100%;
  padding: 20px 0 10px;
  visibility: hidden;
  opacity: 0;
  margin-top: 50px;
  text-align: left;
  background: #fff;
  z-index: 99;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

.header-section .nav-menu .main-menu ul .sub-menu li {
  display: block;
  margin-right: 0;
}

.header-section .nav-menu .main-menu ul .sub-menu li:after {
  display: none;
}

.header-section .nav-menu .main-menu ul .sub-menu li a {
  display: block;
  color: #000;
  margin-left: 0;
  padding: 5px 20px;
  font-size: 16px;
}

.header-section .nav-menu .main-menu ul .sub-menu li a:after {
  display: none;
}

.header-section .nav-menu .main-menu ul .sub-menu li a:hover {
  color: #fc0254;
}

/* FOOTER  */

.footer-section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #a0a8b3;
  padding: 3rem 1rem 2rem 1rem;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.nav-footer {
  margin: 1rem;
}

.nav-footer a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.nav-footer ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1rem);
  column-gap: 3rem;
  row-gap: 1rem;
}

.footer-section .form-inscricao {
  margin-bottom: 1rem;
}

.footer-section .form-inscricao h4 {
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 20px;
}

.footer-section .form-inscricao input {
  min-width: 200px;
  height: 2.5rem;
  border: 1px solid #fff;
  border-radius: 10px;
  display: inline-block;
  margin-right: 15px;
  padding-left: 34px;
  padding-right: 10px;
  font-size: 18px;
  color: #353535;
}
.footer-section .form-inscricao input::placeholder {
  color: #a0a8b3;
}
.footer-section .form-inscricao button {
  border: none;
  background: #ffff;
  border-radius: 10px;
  height: 2.5rem;
  font-size: 18px;
  font-weight: 500;
  color: #616169;
  display: inline-block;
  cursor: pointer;
  min-width: 170px;
}

.footer-section .redes-sociais-links a {
  display: inline-block;
  margin-right: 35px;
  margin-bottom: 15px;
  color: #f5f6fa;
}

.footer-section .redes-sociais-links a:hover i {
  color: #0db1f6;
}

/* RESPONSIVIDADE */

@media only screen and (min-width: 1550px) and (max-width: 1920px) {
  .footer-section .container {
    max-width: 1470px;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1499px) {
  .footer-section .container {
    max-width: 1260px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1340px) {
  .footer-section .form-inscricao input {
    margin-bottom: 15px;
  }
}

/* Medium Device */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-section .form-inscricao input {
    margin-bottom: 15px;
  }

  .nav-footer ul {
    row-gap: 2rem;
  }
}

/* Tablet Device */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-section .main-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Large Mobile */

@media only screen and (max-width: 767px) {
  .main-menu {
    display: none;
  }

  .header-section .logo {
    margin-bottom: 25px;
  }

  .footer-section .main-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section .form-inscricao input {
    margin-bottom: 15px;
  }
  .footer-section .form-inscricao input {
    width: 100%;
  }
  .footer-section .redes-sociais-links a {
    margin-right: 10px;
  }
}

/* Small Mobile */

@media (max-width: 479px) {
  .footer-section .main-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-footer ul {
    column-gap: 5rem;
    row-gap: 3rem;
    margin-bottom: 3rem;
  }
}
